<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Moisture Data</h1>
</div>

<div class="wrapper-md">
  <div class="row" ng-controller="RadialGaugeMoistureCtrl">
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>  
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>   
  </div>
  <br>
  <br>
  <div class="row" ng-controller="RadialGaugeMoistureCtrl">
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>  
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>
    <div class="col-md-4">
      <div width="300" ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
    </div>   
  </div>
</div>