{% extends 'layoutMain.server.view.html' %}

{% block content %}
	<div id="top" class="imageHolder">
		<div class="text-vertical-center">
	            <h1>Cerberus</h1>
	            <h2>Software para ti</h2>
	            <h3>hecho en Bolivia</h3>
	            <br>
	            <a href="/vicore#!/" class="btn btn-dark btn-lg">Ingresar a Plataforma</a>
	    </div>
	</div>
	<!-- Acerca de -->
    <section id="quienes" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Vimesys es una sistema que te permite realizar el sensado metrologico de tu empresa!</h2>
                    <p class="lead">Visualiza tus datos y almacenalos de manera segura gracias a la <a target="_blank" href="/vicore#!/">Plataforma de Vicore</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
    <!-- Services (fontawesome) http://fontawesome.io/examples/ -->
    <section id="servicios" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestros Servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tachometer fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Visualización</strong>
                                </h4>
                                <p>Puede ver los datos de sus sensores en tiempo real.</p>
                                <a href="#" class="btn btn-light">Ver mas</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Almacenamiento</strong>
                                </h4>
                                <p>Los datos de su empresa son almacenados en la nube.</p>
                                <a href="#" class="btn btn-light">Ver mas</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6" data-ride="animated" data-animation="fadeInRight" data-delay="300">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-exclamation-triangle fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Notificación</strong>
                                </h4>
                                <p>El sistema le avisa cuando se detectan valores no deseados.</p>
                                <a href="#" class="btn btn-light">Ver mas</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6" data-ride="animated" data-animation="fadeInRight" data-delay="600">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Control</strong>
                                </h4>
                                <p>Se puede integrar actuadores que ayuden a controlar su ambiente.</p>
                                <a href="#" class="btn btn-light">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    
      <div class="container">
        <div class="row m-t-xl m-b-xxl">
          <div class="col-sm-6 wrapper-xl">
            <h3 class="text-black font-bold m-b-lg">Diseño responsivo Multiplataforma</h3>
            <p class="h4 l-h-1x">Vimesys es una plataforma que puede ser usada desde cualquier dispositivo que cuente con un navegador web, funciona de la misma forma en computadoras de escritorio, tablets y dispotivos mobiles. </p>
          </div>
          <div class="col-sm-6" data-ride="animated" data-animation="fadeInRight" data-delay="300">
            <div class="m-t-xxl text-center">
              <span class="text-2x text-muted"><i class="icon-screen-smartphone text-2x"></i></span>
              <span class="text-3x text-muted"><span class="text-2x"><i class="icon-screen-desktop text-2x"></i></span></span>
              <span class="text-3x text-muted"><i class="icon-screen-tablet text-2x"></i></span>
            </div>
          </div>
        </div>
      </div>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1 data-ride="animated" data-animation="fadeIn" data-delay="300">Desarrollamos Tecnologías</h1>
        </div>
    </aside>
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Quieres formar parte del equipo.</h3>
                    <a href="#" class="btn btn-lg btn-light">Conoce mas!</a>
                </div>
            </div>
        </div>
    </aside>    

    <section id="footer">
    <div class="bg-white">
      <div class="container">
        <div class="row m-t-xl m-b-xl">
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">Version</span></h4>
            <ul class="list-unstyled">
              <li><a href="../angular"><i class="fa fa-angle-right m-r-sm"></i>Plataforma</a></li>
              <li><a href="../html"><i class="fa fa-angle-right m-r-sm"></i>Mensajeria</a></li>
              <li><a href="../angular/#music/home"><i class="fa fa-angle-right m-r-sm"></i>Reportes</a></li>
              <li><a href="#"><i class="fa fa-angle-right m-r-sm"></i>Sensado</a></li>
            </ul>
            <p class="m-b-xl">Mas novedades pronto...</p>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">Encuentrenos</span></h4>
            <p class="text-sm">Obrajes Calle 14 <br>
              esq. Veintemillas #661 <br>
              <i class="fa fa-phone fa-fw"></i> (795) 00-1071
             </p>
             <p>Ventas: <a href="mailto:ventas@example.com">ventas@vimesys.com</a></p>
             <p class="m-b-xl">Oportunidades: <a href="mailto:jobs@example.com">jobs@vimesys.com</a></p>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b-xl font-thin"><span class="b-b b-dark font-bold">Siganos</span></h4>
            <div class="m-b-xl">
              <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-github"></i></a>
              <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="btn btn-icon btn-rounded btn-dark"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="text-u-c m-b font-thin"><span class="b-b b-dark font-bold">News</span> Letter</h4>
            <p>Muy pronto introduciremos las novedades de Vimesys. Suscribase!</p>
            <form class="form-inline m-t m-b text-center m-b-xl">
              <div class="aside-xl inline">
                <div class="input-group">
                    <input type="text" id="address" name="address" class="form-control btn-rounded" placeholder="Su email">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-rounded" type="submit">Suscribirse</button>
                    </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light dk">
      <div class="container">
        <div class="row padder-v m-t">
          <div class="col-xs-8">
            <ul class="list-inline">
              <li><a href="#">Ventas |</a></li>
              <li><a href="#">Acerca de |</a></li>
              <li><a href="#">API |</a></li>
              <li><a href="#">Contactenos</a></li>
              <!-- <li><a href="#"></a></li> -->
            </ul> 
          </div>
          <div class="col-xs-4 text-right">
            Cerberus &copy; 2015
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
